<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642887094981-9slpsbdvpkisfdb4qogt4im78fjnv0on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642887094981-9slpsbdvpkisfdb4qogt4im78fjnv0on</string>
	<key>API_KEY</key>
	<string>AIzaSyBYlJ2RKg4b1aIVRgaRu-xdVc_3Oq84-jg</string>
	<key>GCM_SENDER_ID</key>
	<string>642887094981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gajigaksekapp</string>
	<key>PROJECT_ID</key>
	<string>gjgs-1057b</string>
	<key>STORAGE_BUCKET</key>
	<string>gjgs-1057b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642887094981:ios:fcfe29f87bff24abb756ac</string>
</dict>
</plist>